page-flight_ticket {
    .header .toolbar {
        .bar-button .button-inner ion-icon {
            color: $white !important;
        }

        .toolbar-content {
            position: absolute;
            left: 0;
            width: 100%;

            .title .toolbar-title {
                color: $white !important;
                display: block;
                text-align: center;
                font-weight: 400;
            }
        }

    }

    .content {
        background: $theme-color;
    }

    .booking_receipt {
        position: relative;
        margin-top: 10px;
        min-height: 507px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: calc(100% - 40px);
            height: 100%;
            margin: 0 auto;
            background: $white;
            border-radius: 10px;
            box-shadow: 0 10px 22px rgba(0, 0, 0, 0.2);

        }

        .container {
            width: calc(100% - 40px);
            margin: 0 auto;
            position: relative;
            z-index: 99;
            padding: 0 20px;
            overflow: hidden;

            &.receipt_header {
                background: $bg-color;
                border-radius: 10px 10px 0 0;
                padding-top: 19px;
                padding-bottom: 25px;

                .img_box {
                    min-width: 37px;
                    max-width: 37px;
                    height: 37px;
                    border-radius: 5px;
                    margin-right: 16px;


                }

                .text_box {
                    width: 100%;

                    h2 {
                        margin: 0;
                        font-size: 1.55rem;
                        font-weight: 600;
                    }

                    h6 {
                        margin: 0;
                        color: darken($text-light, 10%);
                        margin: 0;
                        font-size: 1.2rem;
                        font-weight: 300;
                        margin-top: 4px;

                        span {
                            &.end {
                                font-size: 1.45rem;
                                font-weight: 500;
                                color: $theme-color;
                            }
                        }
                    }
                }

            }

            &.receipt_containt {
                padding-top: 15px;
                padding-bottom: 20px;

                .row {
                    margin: 0 -5px;
                    padding: 8px 0;

                    .col {

                        h3 {
                            margin: 0;
                            color: darken($text-light, 30%);
                            font-size: 1.2rem;
                            line-height: 23px;
                        }

                        h2 {
                            margin: 0;
                            font-size: 1.5rem;
                        }
                    }
                }

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: -10px;
                    width: 20px;
                    height: 20px;
                    background: darken($theme-color, 12%);
                    border-radius: 50%;
                    z-index: 99;
                }

                &::after {
                    right: -10px;
                    left: unset;
                }

                &.banner {
                    position: relative;
                    overflow: hidden;
                    padding-top: 0;
                    padding-bottom: 0;
                    min-height: 85px;

                    .row {

                        .col {
                            ion-icon {
                                display: block;
                                margin-top: 29px;
                                color: darken($text-light, 10%);
                                font-size: 2.2rem;
                                transform: rotate(90deg);
                            }

                            h2 {
                                color: $white;
                                font-weight: 400;
                                font-size: 2.2rem;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }

                            h3 {
                                color: $white;
                                opacity: .5;
                                font-weight: 400;
                                margin-bottom: 4px;
                            }
                        }

                    }

                    .banner_bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        img {
                            position: absolute;
                            top: -72px;
                        }
                    }

                    &::after,
                    &::before {
                        display: none;
                    }
                }
            }

            &.barcode_box {
                padding-top: 10px;
                overflow: visible;
                padding-bottom: 25px;

                .bar_code {
                    width: 231px;
                    margin: 0 auto;
                    margin-top: 8px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: 0px;
                    right: 0;
                    margin: auto;
                    width: calc(100% - 20px);
                    height: 1px;
                    border-top: 1px dashed lighten($gray, 0%);
                }
            }
        }

    }

    .button.btn[clear] {
        color: $white;
        font-size: 1.5rem;
        letter-spacing: 2px;
        opacity: .8;
    }
}